<!-- blank template -->
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Udacity - MultiUser Blog</title>

        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">

        <!-- pretty fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

        <!-- custom script -->
        <script src="../static/js/script.js"></script>

        <!-- Custom CSS -->
        <link rel="stylesheet" href="../static/css/styles.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/blog">Blogr</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                {% if page_type != "login" %}
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/blog">Home</a></li>
                    </ul>

                    {% if username %}
                    <ul class="nav navbar-nav navbar-right">
                        <input type="hidden" id="username" value="{{ username }}">
                        <li>
                            <a href="#">Logged in as {{ username }}</a>
                        </li>
                        <li>
                            <a href="/post">New post</a>
                        </li>
                        <li><a href="/logout"><span class="fa fa-power-off"></span> Log off</a></li>
                    </ul>
                    {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/login">Sign in <span style="letter-spacing: 3px;">/</span>Sign up</a>
                        </li>
                    </ul>
                    {% endif %}

                </div>
                <!-- /.navbar-collapse -->
                {% endif %}
            </div>
            <!-- /.container -->
        </nav>

        <!-- Page Content -->
        <div class="container">
            {% block content %}
            

            {% endblock %}
        </div>
        <!-- /.container -->

        <!-- jQuery Version 1.11.1 -->
        <script src="../static/js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="../static/js/bootstrap.min.js"></script>

        <script src="https://use.fontawesome.com/aef1209c87.js"></script>

    </body>

    </html>
